*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e44;
}


.digital-clock{
    position: relative;
    color: #fff;
    background: #2e2d41;
    width: 425px;
    padding: 20px 45px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours , .dots , .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 15px;
    line-height: 125px;
}

.hours , .minutes{
    font-size: 6.5em;
    width: 125px;
}

.dots{
    font-size: 5em;
    color: #929292;
}
.hours{
    background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.minutes{
    background: -webkit-linear-gradient(90deg, #a7087f, #d6e604);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}
.period,.seconds{
    font-size: 1.2em;
    font-weight: 500;
}
.period{
    transform:translateY(-20px) ;
    background: -webkit-linear-gradient(90deg, #170983, #e2eaec);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.seconds{
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #188021, #d7e60b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #a30f8b, #cf069d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.day-name ,.day-number,.year{
    margin-left: 8px;
}